<!DOCTYPE html>

<html lang="ja" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="robots" content="NONE,NOARCHIVE">
    <title>メルカリッチくん</title>
    <link rel="shortcut icon" href="/static/favicon.ico?v=1">
  </head>
  <body>
    <center>
      <h1>パスワードを変更しました</h1>
      <p>あなたのパスワードは変更されました</p>
      <a href="/accounts/logout">
	<button type="button">
	  ログイン
	</button>
      </a>
    </center>
  </body>
</html>
