<!DOCTYPE html>

<html lang="ja" >
  <head>
    <title>パスワードの変更</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
  </head>

  <body class=""
	data-admin-utc-offset="32400">

    <!-- Container -->
    <div id="container">
    <!-- Header -->
    <div id="header"></div>
        
        

      
      <!-- Content -->
      <div id="content" class="colM">
        
        <h1>パスワードの変更</h1>
        <div id="content-main">

	  <form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="5DqvlYqznzU11R7h4JacVUSNJCsd1wp3j8r9Vx8QGgJI14ffIdv2NGD5q2N6zyoy">
	    <div>

	      <p>セキュリティ上の理由から元のパスワードの入力が必要です。新しいパスワードは正しく入力したか確認できるように二度入力してください。</p>

	      <fieldset class="module aligned wide">
		<div class="form-row">
		  <label for="id_old_password">元のパスワード:</label> <input type="password" name="old_password" autofocus required id="id_old_password">
		</div>

		<div class="form-row">
		  <label for="id_new_password1">新しいパスワード:</label> <input type="password" name="new_password1" required id="id_new_password1">
		  <div class="help"><ul><li>あなたの他の個人情報と似ているパスワードにはできません。</li><li>パスワードは最低 8 文字以上必要です。</li><li>よく使われるパスワードにはできません。</li><li>数字だけのパスワードにはできません。</li></ul></div>
		</div>

		<div class="form-row">
		  <label for="id_new_password2">新しいパスワード(確認用):</label> <input type="password" name="new_password2" required id="id_new_password2">
		</div>
	      </fieldset>
	      <div class="submit-row">
		<input type="submit" value="パスワードの変更" class="default">
	      </div>	      
	    </div>
	  </form>
	</div>        
        <br class="clear">
      </div>
      <!-- END Content -->
      <div id="footer"></div>
    </div>
    <!-- END Container -->
  </body>
</html>
