{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}メルカリッチくん{% endblock %}


{% block script_onload %}

Utils.selectYahoo();
{% if message %}
Utils.dialog('{{ message }}', '{{ message_detail}}');
{% endif %}


$(function() {
    $('#show-extra-keywords').click(function() {
        $(this).hide();
        $('#extra-keywords').show();
    });
});

{% endblock %}

{% block html_body %} 
<div class="container">
  <center><h2>Amazon一括出品データ作成（ヤフオク）</h2></center>

  <form class="form-horizontal" action="{% url 'yahoo:amazon_offer_research'  %}" method="post">
    <div class="form-group">
      
      <div class="panel panel-default" style="width:100%">
	<div class="panel-heading" style="text-align:left">Amazon検索指定条件</div>
	<div class="panel-body" style="text-align: left;">
	  {{ form.amazon_search_type.0 }}&nbsp&nbsp&nbsp{{ form.amazon_search_type.1 }} <br>
	  {{ form.keyword | add_class:"form-control" }}<br>
    <div id="show-extra-keywords">
      <a href="#" onclick="">さらに入力を行うにはここをクリックしてください。</a><br>
    </div>
    <div id="extra-keywords" style="display: none">
	    {{ form.extra_keyword1 | add_class:"form-control" }}<br>
	    {{ form.extra_keyword2 | add_class:"form-control" }}<br>
	    {{ form.extra_keyword3 | add_class:"form-control" }}<br>
	    {{ form.extra_keyword4 | add_class:"form-control" }}<br>
	    {{ form.extra_keyword5 | add_class:"form-control" }}<br>
	    {{ form.extra_keyword6 | add_class:"form-control" }}<br>
	    {{ form.extra_keyword7 | add_class:"form-control" }}<br>
	    {{ form.extra_keyword8 | add_class:"form-control" }}<br>
	    {{ form.extra_keyword9 | add_class:"form-control" }}<br>
      <p>※使わない欄は空白のままにしてください。</p>
    </div>
	</div>
      </div>

      <div class="panel panel-default" style="width:100%">
	<div class="panel-heading" style="text-align:left">ヤフオク検索指定条件</div>
	<div class="panel-body" style="text-align: left;">
	  <table width="100%">
	    <tr>
	      <td width="10%">
		{{ form.similarity.label_tag }}
	      </td>
	      <td width="90%">
		{{ form.similarity }}以上
	      </td>
	    </tr>
	    <tr>
	      <td width="10%">
		{{ form.rateing.label_tag }}
	      </td>
	      <td width="90%">
		{{ form.rateing }}[%]以上
	      </td>
	    </tr>
	    <tr>
	      <td width="10%">
		{{ form.search_type.label_tag }}
	      </td>
	      <td width="90%">
		{{ form.search_type }}&nbsp&nbsp
	      <td/>
	    </tr>
	    <tr>
	      <td width="10%">
		{{ form.select.label_tag　}}
	      </td>
	      <td width="90%">
		{{ form.select }}
	      </td>
	    </tr>
	    <tr>
	      <td width="10%">
		{{ form.is_exist_bidorbuy_price.label_tag }}
	      </td>
	      <td width="90%">
		{{ form.is_exist_bidorbuy_price }}
	      </td>
	    </tr>
	    <tr>
	      <td width="10%">
		{{ form.istatus.label_tag }}
	      </td>
	      <td width="90%">
		{{ form.istatus }}
	      </td>
	    </tr>
	    <tr>
	      <td width="10%">
		{{ form.abatch.label_tag }}
	      </td>
	      <td width="90%">
		{{ form.abatch }}
	      </td>
	    </tr>
	    <tr>
	      <td width="10%">
		{{ form.is_export_csv.label_tag }}
	      </td>
	      <td width="90%">
		{{ form.is_export_csv }}
	      </td>
	    </tr>
	    <tr>
	      <td width="10%">
		{% csrf_token %}
		<input type="submit" value="検索">
	      </td>
	      <td width="90%">
	      </td>
	    </tr>
	</div>
      </div>
    </div>
  </form>
</div>

{% endblock %}


