<!DOCTYPE html>

<html lang="ja" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="NONE,NOARCHIVE">
    <title>メルカリッチくん</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <link rel="shortcut icon" href="/static/favicon.ico?v=2">
  </head>

  <body class=""
	data-admin-utc-offset="32400">

    <!-- Container -->
    <div id="container">
    <!-- Header -->
   
           
      <!-- Content -->
      <div id="content" class="colM">
        <div id="content-main">
	  <h1>パスワードの変更</h1>


	  <form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="5DqvlYqznzU11R7h4JacVUSNJCsd1wp3j8r9Vx8QGgJI14ffIdv2NGD5q2N6zyoy">
	    {% csrf_token %}
	    <div>
	      <p>セキュリティ上の理由から元のパスワードの入力が必要です。新しいパスワードは正しく入力したか確認できるように二度入力してください。</p>

	      <fieldset class="module aligned wide">
		<div class="form-row">
		  <label for="id_old_password">元のパスワード:</label>{{ form.old_password }}{{ form.old_password.errors }}
		</div>

		<div class="form-row">
		  <label for="id_new_password1">新しいパスワード:</label>{{ form.new_password1 }}{{ form.new_password1.errors }}
		  <div class="help"><ul><li>あなたの他の個人情報と似ているパスワードにはできません。</li><li>パスワードは最低 8 文字以上必要です。</li><li>よく使われるパスワードにはできません。</li><li>数字だけのパスワードにはできません。</li></ul></div>
		</div>

		<div class="form-row">
		  <label for="id_new_password2">新しいパスワード(確認用):</label>{{ form.new_password2 }}{{ form.new_password2.errors }}
		</div>
	      </fieldset>
	      <div class="submit-row">
		<input type="submit" value="パスワードの変更" class="default">
	      </div>	      
	    </div>
	  </form>
	</div>        
        <br class="clear">
      </div>
      <!-- END Content -->
      <div id="footer"></div>
    </div>
    <!-- END Container -->
  </body>
</html>
