<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="NONE,NOARCHIVE">
    <title>メルカリッチくん</title>
    <link rel="shortcut icon" href="/static/favicon.ico?v=1">
</head>
<body>

<center>
  {{message}}
  <font color="red">{{error_message}}</font>
  <p><a href="#" onClick="window.close(); return false;">閉じる</a></p>
</center>

</body>
</html>
