{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}メルカリッチくん{% endblock %}

{% block script_top %}
$(function() {
    var updateStatus = function(data) {
        $('.status_message').hide();
        if (!data.exists) {
            $('.status_yet').show();
        } else if (data.done) {
            $('.status_done').show();
        } else {
            $('.status_running').show();
        }
        $('#result').text(data.progress_messages);
    };

    var update = function() {
        $.ajax({
            url: '{% url 'mercari:api.progress.import_report' %}', 
            type: 'GET',
        }).done(updateStatus).fail(function(data) {
            console.log(data);  
        });
    };
    
    $("#import_file").on("change", function(){
        $('#form').submit();
    });
 

    var timer = setInterval(update, 5000);
    update();
});
{% endblock %}




{% block script_onload %}

Utils.selectMercari();
{% if message %}
Utils.dialog('{{ message }}', '{{ message_detail}}');
{% endif %}

{% endblock %}

{% block html_body %} 
<div class="container" style="width: 100%">
  <center><h2>メルカリリサーチ商品取り込み（Amazon出品）</h2></center>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading" style="text-align:left">メルカリリサーチ商品取り込み（AMAZON出品）</div>
    <div class="panel-body" style="text-align:left;">
      推奨ブラウザ：Google Chrome<br>
      Google Chromeブラウザのご利用を推奨しております。他のブラウザを使用してアップロードした場合には、正しくアップロードできない場合があります。<br>
      <br>
      操作手順は、以下の通りです。<br>
      （１）以下リンクより登録用テンプレートを取得してください。<br>
      <a href="/template/import_mercari.csv">テンプレートダウンロード</a><br>
      （２）（１）で取得したテンプレートに必要情報を記入してください。<br>
      （３）テンプレートを下記より取り込んで下さい。<br>
      <br>
      尚、出品レポートに記載しているSKU＝AMAZON SKUと認識して処理を実行します。<br>
      <br>
      テンプレート記入時の注意点<br>
      「メルカリ商品ID」と「SKU」と「ASIN」の間は【タブ(Tab)】で区切ってください。（「スペース」「カンマ」等で区切るとエラーとなります。）<br>

      <br>
      <form class="form-horizontal" action="{% url 'mercari:import_item'  %}" method="post" enctype="multipart/form-data" name="form" id="form" >    
	{% csrf_token %}

  <div class="status_message status_running" style="display: none;">
	  <span style="color:red">現在CSVデータを取り込み中です。しばらく、お待ちください。</span>
	  <br>
  </div>
  <div class="status_message status_done" style="display: none;">
	  <span style="color:red">取り込みが完了しました。取り込み結果を確認してください。</span>
	  <br>
	  <input type="submit" name="clear" value="取り込み結果をクリア">
	  <br>
  </div>
  <div class="status_message status_yet">
	  <label for="import_file" class="feed-form-file-select-label" style="display:block; floet:left; width:200px; margin:10px">
	  ＋アップロード<input type="file" id="import_file" name="import_file" style="display:none;" accept="text/plain">
	  </label>
  </div>
	<br>
	取り込み結果:<br>
	<div class="form-group">
	  <textarea id="result" rows="10" style="width: 100%">{{ progress_messages }}</textarea>
	</div>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" style="text-align:left">メルカリリサーチ商品取り込み履歴</div>
    <div class="panel-body" style="text-align:left;">
      <table width="100%" border="1" style="table-layout:fixed; border-color:silver" >
	<tr>
	  <th width="10%" style="background-color:whitesmoke">No</th>
	  <th width="15%" style="background-color:whitesmoke">登録時間</th>
	  <th width="15%" style="background-color:whitesmoke">完了時間</th>
	  <th width="15%" style="background-color:whitesmoke">ステータス</th>
	  <th width="45%" style="background-color:whitesmoke">結果</th>
	</tr>

	{% for result in result_list %}
	<tr>
	  <td width="10%">{{ result.local_id }}</td>
	  <td width="15%">{{ result.start_date }}</td>
	  <td width="15%">{% if result.end_date == None %}{% else %}{{ result.end_date }}{% endif %}</td>
	  <td width="15%">{% if result.status == 0 %}完了{% elif result.status == 5 %}完了{% else %}処理中{% endif %}</td>
	  <td width="45%"><textarea id="result" rows="5" style="width: 100%">{{ result.result_message }}</textarea></td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
