{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %} Amazonブランド設定{% endblock %}


{% block script_onload %}

Utils.selectAmazonSetting();
{% if message %}
Utils.dialog('{{ message }}', '{{ message_detail}}');
{% endif %}

{% endblock %}

{% block html_body %} 
<div class="container">
  <center><h2>Amazonブランド設定</h2></center>

  <form class="form-horizontal" action="{% url 'settings_amazon:brand'  %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.brand_name.label_tag }}<br>
      {{ form.brand_name | add_class:"form-control" }}<br>
    </div>
    <input type="submit" value="登録" />
  </form>

  <br>

  {% if brands.count > 0 %} 
  <form class="form-horizontal" action="{% url 'settings_amazon:delete_brands'  %}" method="post">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-xs-1">ID</th>
          <th class="col-xs-1">削除</th>
          <th>ブランド名</th>
        </tr>
      </thead>
      <tbody>
        {% for brand in brands %}
        <tr>
	  <td>{{ brand.id }}</td>
          <td><input type="checkbox" name="delete_ids" value="{{ brand.id }}"></td>
          <td>{{ brand.brand_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% csrf_token %}
    <input type="submit" value="削除">
  </form>
</div>
</form>
</div>
{% endif %}
{% endblock %}



